body {
    font-family: Helvetica, Arial, serif;
}

#columns {
    column-width: 320px;
}

div#columns figure {
    display: inline-block;
}

@media screen and (max-width: 750px) {
    #columns {
        column-gap: 0;
    }

    #columns figure {
        width: 80%;
    }
}

p.old {
    color: #555;
    font-size: xx-small;
}
